<!DOCTYPE html>
<!--  -->
<link href="../stylesheets/main_style.css" rel="stylesheet"  type="text/css">
<link href="../stylesheets/games.css" rel="stylesheet"  type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>

<html>
<head>
  <title>IGS - <%=game.name%></title>
</head>
  <body>
    <div id='toolbar_div'>

      <div class="cf">
        <div id='navigationbar_div'>
          <a href='../index'><p class='navigation_element'>NEWS</p></a>
          <a href='../top'><p class='navigation_element'>TOP</p></a>
          <form id='search_form' action='/search' method="get">
            <input type='text' id='search_editview' name='search_line'>
            <input type='submit' id='search_submit_button' value=' '>
          </form>
          <!-- session stuff -->
          <%if (user == null){%>
            <a href='../login'><p class='navigation_element'>LOGIN</p></a>
          <%}else{%>
            <a href='../account_page'><p class='navigation_element'>PROFILE</p></a>
            <a href='../logout'><p class='navigation_element'>LOGOUT</p></a>
          <%}%>
          <!-- -->
        </div>
      </div>

      <div id='toolbar_bottom_line'> </div>
    </div>

    <div id='game_body_div'>
      <div id='game_image_div'>
        <img src="../image/games/<%=game.name%>"></img>
      </div>

      <div id='header_div'>
        <p id='game_price'><%=game.price%>$</p>
        <p id='game_name'><%=game.name%></p>
        <p id='game_rating'><%=game.rating%></p>
      </div>

      <%
        if ((user != null) && (user.user_type == 1))
        {
          var bought = false;
          for (var i = 0; i < user.games_names_list.length; i++)
          {
            if (user.games_names_list[i] == game.name)
            {
              %>
              <form method='get' action='../download/<%=game.name%>'>
                <input type='submit' id='havebought_info' value='DOWNLOAD'/>
              </form>
              <%
              bought = true;
              break;
            }
          }
          if (!bought){
          %>
          <form method='post'>
            <input type='submit' id='buy_info' value='BUY'/>
          </form>
          <%}
        }
      %>

      <p id='game_description'><%=game.description%></p>

      <%if (user != null){%>
        <div id='review_div'>
          <form method='post'>
            <input class='editview' name="review_score" type='number' min="1" max="10" placeholder="review score">
            <input class='button' type='submit' value='SUBMIT'>
          </form>
        </div>
      <%}%>

    </div>



    <footer>
      <div id='footer_line'> </div>
     <p id='footer_text'>Mykhailo Ivanov, 2016</p>
    </footer>
  </body>

</html>
